# Pycharm
.idea
*.pyc

# Virtuel environments
venv
venv35
venv36
venv37
venv3.7
venv38
venv39
venv310

# Coverage
htmlcov
.coverage

# wheel package
build
dist
pedantic.egg-info

STEPS_BEFORE_COMMIT.md
