name: Python Tests

on:
 push:
    branches:
      - '*'

jobs:
 test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U coveralls
        pip install -r requirements.txt
    - name: Run tests
      run: |
        coverage run --branch pedantic/tests/tests_main.py
    - name: Coveralls
      uses: coverallsapp/github-action@v2.2.3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: .coverage
 deploy:
   needs: test
   runs-on: ubuntu-latest
   if: github.ref == 'refs/heads/master'   # only on master
   steps:
   - uses: actions/checkout@v4
   - name: Set up Python
     uses: actions/setup-python@v5
     with:
       python-version: 3.12 # Specify the Python version you want to use for deployment
   - name: check PYPI USERNAME exists
     env:
       super_secret: ${{ secrets.PYPI_USERNAME }}
     if: ${{ env.super_secret == '' }}
     run: echo "echo the secret \"PYPI_USERNAME\" has not been made; echo please go to \"settings \> secrets \> actions\" to create it"
   - name: Set Twine Environment Variables
     run: |
       echo "TWINE_USERNAME=${{ secrets.PYPI_USERNAME }}" >> $GITHUB_ENV
       echo "TWINE_PASSWORD=${{ secrets.PYPI_PASSWORD }}" >> $GITHUB_ENV
   - name: Build and Upload to PyPI
     run: |
        pip install -U setuptools twine wheel
        python setup.py bdist_wheel
        twine upload dist/*.whl  # Uploads the wheel file to PyPI
