name: Python Tests

on:
 push:
    branches:
      - '*'

jobs:
 test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.11, 3.12, 3.13, 3.14]
    steps:
    - uses: actions/checkout@v4
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v5
      with:
        python-version: ${{ matrix.python-version }}
        check-latest: true
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install -U coveralls
        pip install -e .[dev]
    - name: Run tests
      run: |
        coverage run --branch pedantic/tests/tests_main.py
    - name: Coveralls
      uses: coverallsapp/github-action@v2.2.3
      with:
        github-token: ${{ secrets.GITHUB_TOKEN }}
        file: .coverage
 deploy:
   needs: test
   runs-on: ubuntu-latest
   if: github.ref == 'refs/heads/master'
   environment:
     name: pypi-deployment
   steps:
   - uses: actions/checkout@v4
   - name: Set up Python
     uses: actions/setup-python@v5
     with:
       python-version: 3.12
   - name: Install Build Tools
     run: |
       pip install -U build twine
   - name: Set Twine Environment Variables
     run: |
       echo "TWINE_USERNAME=${{ secrets.PYPI_USERNAME }}" >> $GITHUB_ENV
       echo "TWINE_PASSWORD=${{ secrets.PYPI_PASSWORD }}" >> $GITHUB_ENV
   - name: Build and Upload to PyPI
     run: |
       python -m build
       twine upload dist/*